{% extends "web/base.html" %}

{% block title %}Manage - {{ block.super }}{% endblock title %}

{% block content %}
<div class="card">
    <h5 class="card-header">Manage a Server!</h5>
    <div class="card-body">
        <p class="card-text">
            <div class="row justify-content-center">
                {% if data %}
                <div class="col-lg-8">
                    {% if data.status == 'success' %}
                    <div class="alert alert-success" role="alert">
                        Success! {{ data.message|capfirst }}
                    </div>
                    {% elif data.status == 'error' %}
                    <div class="alert alert-danger" role="alert">
                        Error: {{ data.message|capfirst }}
                    </div>
                    {% endif %}
                </div>
                {% endif %}
                <div class="col-lg-8">
                    <p>
                        This is where you will manage your server. You must use the ID from when the server was started.
                    </p>
                </div>
                <div class="col-lg-6">
                    <form action="{% url 'manage' %}" method="POST">
                        {% csrf_token %}
                        <div class="form-row col-lg-12">
                            <div class="form-group col">
                                <label for="c_id">Server ID</label>
                                <input type="text" class="form-control" name="c_id" id="c_id">
                            </div>
                            <div class="form-group col-lg-12 text-center">
                                <button type="submit" class="btn btn-danger" name="submit" value="stop">Stop Server</button>
                                <button type="submit" class="btn btn-warning" name="submit" value="stop" data-toggle="tooltip" data-placement="bottom" title="Coming soon" disabled>Reset Server</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </p>
    </div>
</div>
{% endblock content %}