{% extends "web/base.html" %}

{% block title %}Start - {{ block.super }}{% endblock title %}

{% block content %}
<div class="card">
    <h5 class="card-header">Start a Server!</h5>
    <div class="card-body">
        <p class="card-text">
            <div class="row justify-content-center">
                {% if data %}
                <div class="col-lg-8">
                    {% if data.status == 'success' %}
                    <div class="alert alert-success" role="alert">
                        Success! {{ data.message|capfirst }}
                    </div>
                    Server started at:
                    <p class="text-center"><b>{{ server_ip }}:{{ data.port }}</b></p>
                    Your server was started with ID:
                    <p class="text-center"><b>{{ data.id }}</b></p>
                    <b>Please copy this ID down, this is the only time youll see it.</b>
                    It is how you will stop the server when you are done in the <a href="{ url 'manage' }">manage</a> page.<br>
                    Alternatively, your server will stop automatically after 10 minutes if no players are online.<br>
                    <b>*NOTE:</b> If you restart a server with the same name, itll reuse the same map, <b>but the ID will be different</b>.
                    {% elif data.status == 'error' %}
                    <div class="alert alert-danger" role="alert">
                        Error: {{ data.message|capfirst }}
                    </div>
                    {% endif %}
                </div>
                {% else %}
                <div class="col-lg-6">
                    <form action="{% url 'start' %}" method="POST">
                        {% csrf_token %}
                        <div class="form-row col-lg-12">
                            <div class="form-group col">
                                <label for="username">MC Username</label>
                                <input type="text" class="form-control" name="username" id="username">
                            </div>
                            <div class="form-group col-lg-12 text-center">
                                <button type="submit" class="btn btn-primary">Start Server!</button>
                            </div>
                        </div>
                    </form>
                </div>
                {% endif %}
            </div>
        </p>
    </div>
</div>
{% endblock content %}