{% extends "web/base.html" %}

{% block title %}Home - {{ block.super }}{% endblock title %}

{% block content %}
<div class="card">
    <h5 class="card-header">Stats</h5>
    <div class="card-body">
        <p class="card-text">
        {% if stats.status|lower == 'error' %}
            Hmm, looks like there was an error fetching stats...<br>
            {{ stats.message }}
        {% elif stats.status|lower == 'success' %}
            There are {{ stats.num_running }} running servers!
        {% endif %}
        </p>
    </div>
</div>
{% endblock content %}