{% extends "web/base.html" %}

{% block title %}Stats - {{ block.super }}{% endblock title %}

{% block content %}
<div class="card">
    <h5 class="card-header">Stats</h5>
    <div class="card-body">
        <p class="card-text">
        {% if stats.status|lower == 'error' %}
            Hmm, looks like there was an error fetching stats...<br>
            {{ stats.message }}
        {% elif stats.status|lower == 'success' %}
            There {% if stats.num_running == 1 %}is{% else %}are{% endif %} currently {{ stats.num_running }} running server{% if stats.num_running != 1 %}s{% endif %} out of {{ stats.max_running }}.
        {% endif %}
        </p>
    </div>
</div>
{% endblock content %}